* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center; /* Centrira horizontalno */
  align-items: center; /* Centrira vertikalno */
    height: 100vh;
}
img {
  border: 1px solid black;

}

.effect {
  opacity: 0.5;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Promijenite ovo prema potrebama */
  filter: blur(6px);
  z-index: 5; /* Postavite odgovarajući z-index za overlay */
  text-align: center;
}

.fullImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 500px;
  border: none;
  z-index: 10;
}
